body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-size: 3rem;
}

.button {
  all: unset;
  display: inline-block;
  padding: 0.5em 1.25em;
  background: steelblue;
  color: white;
  box-shadow: 0 3px 6px -3px rgba(black, 0.5);
  transform: scale(1);
  transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
}

.button:hover {
  transform: scale(1.125);
  box-shadow: 0 12px 18px -10px rgba(black, 0.5);
}
